body{
	background-color: #ecf0f1 
}
.main{
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #555;
    width: 100%;
    margin-left: 0;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}